* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #5B5C5F;
}

header {
    height: 302px;
    border-top: 8px solid #CC5043;
    background-color: #F3F3F4;;
}

.logo {
    display: block;
    margin: 40px 0 54px 100px;

}

.blue_border {
    height: 56px;
    background-color: #3D5A82;
}

.about {
    margin-top: 25px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #3D5A82;
}

.container {
    width: 640px;
    background-color: #F3F3F4;
    margin: 0 auto;
    padding: 25px 25px 30px;
}

h1, h2 {
    color: #3D5A82;
}

h3 {
    color: #CA4F43;
}

a {
    text-decoration: none;
    color: #3D5A82;
}

footer {
    height: 408px;
    background-color: #3D5A82;
}

.container h1, h2, h3, h4, a, p, ul, ol {
    margin-bottom: 15px;
}